# Folders
/.idea/
/.gradle/
/.kotlin/
/build
.gradle

# Properties
/local.properties
/captures

# Files
*.apk
.externalNativeBuild
.cxx
.DS_Store
*.iml

# Sub Proj
/app/src/main/cpp/.idea/
/app/src/main/cpp/cmake-build-debug
/core/audioengine/src/main/cpp/.idea/
/core/audioengine/src/main/cpp/cmake-build-debug/
